<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% extends 'base.html'%}

{% load static %}

{% block content %}
<div class="contact-container">
  <form class="contact-form" method="post">
    {% csrf_token %}
    <h2>Contact Us</h2>
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <textarea rows="5" name="message" placeholder="Message"></textarea>
    <button type="submit">Send</button>
  </form>


  <div class="contact-info">
    <div>📧 Email: ammaralaa470@mail.com</div>
    <div>📞 Phone: +20 023134890</div>
    <div>📍 Address: Cairo, Egypt</div>
  </div>

  <div class="map">
    <iframe src="https://maps.google.com/maps?q=cairo&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
  </div>

  <div class="social">
    <a target="_blank" href="https://www.linkedin.com/in/ammar-alaa-am77?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
    <a target="_blank" href="https://github.com/am-mar7">GitHub</a>
    <a target="_blank" href="#">Twitter</a>
  </div>
</div>

{% endblock content %}
</body>
</html>